body
{
    background-color: #5E5E5E;
}

header
{
    background-color: black;
    border-radius: 10px;
}

.navheader
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 5%;
}

.logo
{
    width: 8%;
}

.asnav
{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.artistas
{
    background-color: black;
    border-radius: 10px;
}

.albumes
{
    background-color: black;
    border-radius: 10px;
}

.canciones
{
    background-color: black;
    border-radius: 10px;
}

h1
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}