body
{
    background-color: #424242;
}

header
{
    background-color: black;
}

.navheader
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 5%;
}

.logo
{
    width: 8%;
}

.asnav
{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.cancion
{
    background-color: #424242;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.artista
{
    background-color: #424242;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.album
{
    background-color: #424242;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.canciones
{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color: #4c4c4c;
    padding: 15px;
    border-radius: 10px;
}

.artistas
{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color: #4c4c4c;
    padding: 15px;
    border-radius: 10px;
}

.albums
{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color: #4c4c4c;
    padding: 15px;
    border-radius: 10px;
}

.portadas
{
    padding: 20px;
}

.portadas2
{
    padding: 20px;
    border-radius: 50%;
}

a
{
    text-decoration: none;
}

p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.centrar
{
    display: flex;
    justify-content: center;
}